.favoritePage {
  margin: auto;
  max-width: 1028px;
}

.noItemsMessage {
  font-size: 18px;
  color: #6c757d;
  text-align: center;
  margin-top: 50px;
}

.productList {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  background-color: #f8f9fa;
  padding: 10px;
  list-style-type: none;
  /* margin: 0; */
  padding: 0;
}

.productRow {
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* padding: 10px; */
  transition: transform 0.3s, box-shadow 0.3s;
  /* width: 100%; */
}

.productRow:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.productImage {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
  /* margin-right: 20px; */
}

.productDetails {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-grow: 1;
  /* gap: 10px; */
}

.productName {
  font-size: 14px;
  font-weight: bold;
  color: #333;
  /* margin-bottom: 5px; */
}

.productPrice {
  font-size: 16px;
  color: #4caf50;
  /* margin-bottom: 10px; */
}

.FavProductButton {
  padding: 8px 12px;
  border: none;
  background-color: #30abf1;
  color: #fff;
  font-size: 10px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  align-self: center;
}

.productButton:hover {
  background-color: #d32f2f;
}

/* Media query for screens with a max-width of 767px */
@media screen and (max-width: 767px) {
  .productList {
    width: 90%;
    padding: 5px;
  }

  .productRow {
    flex-direction: row;
    height: auto;
    padding: 10px;
  }

  .productImage {
    width: 80px;
    height: 80px;
  }

  .productDetails {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
  }

  .productName {
    font-size: 11px;
    text-align: center;
  }

  .productPrice {
    font-size: 14px;
    text-align: center;
  }

  .FavProductButton {
    font-size: 10px;
    padding: 9px 5px;
    /* margin-top: 10px; */
  }
}

/* Media query for screens with a min-width of 768px and max-width: 1023px */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .productList {
    width: 85%;
    padding: 10px;
  }

  .productRow {
    height: 120px;
  }

  .productImage {
    width: 90px;
    height: 90px;
  }

  .productName {
    font-size: 16px;
  }

  .productPrice {
    font-size: 18px;
  }

  .FavProductButton {
    font-size: 12px;
    padding: 10px 15px;
  }
}
