/* Footer.module.css */
.footerSection {
  background-color: #fff;
  padding: 20px;
}

.header {
  max-width: 1028px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.headerContent {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brandName {
  font-size: 24px;
  margin-right: 20px;
}

.socialIcons {
  display: flex;
}

.socialImg {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.footer {
  margin: auto;
  max-width: 1028px;
  padding: 20px 0;
  background-color: #fff;
  color: gray;
  text-align: center;
}

.footerContent {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.infoSection,
.contactSection {
  flex: 1;
  max-width: 200px;
  margin: 10px;
}

.sectionTitle {
  font-size: 18px;
  margin-bottom: 10px;
}

.infoItem {
  margin: 5px 0;
}

.contactSection {
  max-width: none;
  flex: 2;
}

.subscribeForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputEmail {
  padding: 10px;
  margin-bottom: 10px;
  width: 80%;
  max-width: 300px;
}

.btnSubscribe {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.contactNote {
  margin-top: 10px;
}

.footerNote {
  margin-top: 20px;
  font-size: 14px;
  color: #6c757d;
}

/* Media query for screens with a max-width of 767px */
@media screen and (max-width: 767px) {
  .header {
    flex-direction: column;
    margin-bottom: 10px;
    padding: 10px;
  }

  .headerContent {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .brandName {
    margin-bottom: 10px;
  }

  .socialIcons {
    margin-top: 10px;
  }
}

/* Media query for screens with a min-width of 768px and max-width of 1023px */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header {
    margin-bottom: 15px;
    padding: 15px;
  }

  .headerContent {
    justify-content: space-around;
  }

  .brandName {
    margin-right: 20px;
  }

  .socialIcons {
    margin-left: 20px;
  }
}
